.hero__inner {
   display: grid;
   place-items: center;
   gap: 0.5rem;
}

.hero__icon {
   --fill: url(#gradient-hero);
   --stroke: url(#gradient-hero);

   height: 15rem;
}

.hero__list {
   color: var(--color-text);
   margin: 0;
   padding: 0;
   overflow: hidden;
   list-style: none;

   display: grid;
   place-items: center;
   border-bottom: 1px solid var(--color-text);
}

.hero__list > li {
   grid-area: 1 / 1 / -1 / -1;
   top: 0;
   right: 0;

   font-size: 22px;
   text-transform: uppercase;
   font-family: var(--font-title);
   transform: translateY(100px);
}
