.intro__inner {
   display: grid;
   place-items: center;
}

.intro__inner p {
   max-width: 100ch;
   text-align: justify;
   text-align-last: center;
   color: var(--color-text);
   font-family: var(--font-text);
   font-size: var(--font-size-text);
}
