svg.defs,
svg.icons {
   position: absolute;
   width: 0;
   height: 0;
}

linearGradient#gradient {
   --start: var(--blue);
   --stop: var(--bg-color);
   --mid: var(--deep-blue);
}

linearGradient#gradient-hero {
   --start-hero: var(--blue);
   --mid-hero: var(--deep-blue);
   --stop-hero: var(--purple);
}

linearGradient#gradient-icon {
   --start-icon: var(--bg-color);
   --mid-icon: var(--color-text);
   --stop-icon: var(--bg-color);
}

.pattern {
   --fill: url(#gradient);
   --stroke: url(#gradient);
}

.pattern-card {
   --fill: url(#gradient-icon);
   --stroke: url(#gradient-icon);
}
